html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  color: #F1FFE7;
}
body {
  font-family: 'Montserrat', sans-serif;
  color: #1A1B41;
}

.App {
  width: 100%;;
}
header, footer {
  background-color: #6290C3;
  color: #1A1B41;
  
  padding: 0.5em 2em;
  text-align: center;
  height: 2em;
  
}
p {
  padding: 0;
  margin: 0;
}
header {
  display: flex;
  align-items: center;
  border-radius: 1em 1em 0 0;
  font-size: 1.5rem;
  font-weight: 700;
  
  
  border: none;  
}

header > button, 
.settings-close-button, 
.settings-reset-button, 
.settings-cancel-button {
  border: none;
  margin: 0 1em 0 auto;
  font-family: 'Montserrat', sans-serif;
  background-color: #1A1B41;
  color: #F1FFE7;
  padding: .5em 1em;
  font-size: 1rem;
  cursor: pointer;
  border-radius: .25em;
  text-align: center;
  vertical-align: middle;
}

footer {
  border-radius: 0 0 1em 1em ;
}
.container {
  
  padding-top: 1em;
  background-color: #F1FFE7;
  width: 100%;
  /* border-radius: 0 0  1em 1em; */
  min-height: calc(100vh - 5rem);
  
}

.card-container {
  border: dashed #1A1B41 1px;
  margin: 0 1em 1em 1em;
  
  height: calc(100vw - 2rem);
  width: calc(100vw - 2rem);
  overflow: hidden;
}

.card {
  background-color: #BAFF29;
  border:solid #1A1B41 1px;
  
  display: block;
  
}

.sliders {
  margin: 1em;
  color: #1A1B41;
}

.slidecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

.slidecontainer > label {
  margin: 0 auto 0 0;
  font-weight: 400;
}

.slidecontainer > p {
  font-weight: 400;
  margin: 0 0 0 0.25em;
  width: 3em;
}

.code-container {
  background-color: #1A1B41;
  color: white;
  border: 1px solid #F1FFE7;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0 0 .5em rgba(241, 255, 231, .5);
  font-family: 'Source Code Pro', monospace;

  min-width: 200px;
  min-height: 150px;
  margin: 1em;
  padding: 1em;
  border-radius: 0.5em;
}

.property-name {
  color: #C2E7DA;
  margin-left: 2em;
}

.property-value {
  color: #BAFF29;
}

.textInput {
  border: none;
  width: 100%;
  height: 100%;
  margin:0;
  padding: 0;
  font-size: inherit;
  background-color: inherit;
}

.settings-modal {
  position: absolute;
  left: 1rem;
  right: 1rem;
  top: 1rem;
  
  background-color: white;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 1em 1em 5em rgba(0,0,0, .5);
  
}

.settings-container {
  
}

.radio-container >label {
  margin: 0 1em 0 0;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  padding: 1em;
}

.button-container > div {
  display: flex;
  gap: 1em;
}


.settings-close-button {
  margin: 0 0 0 0;

}

.settings-reset-button {
  margin: 0 0 0 0 ;
}

.settings-cancel-button {
  margin: 0 auto 0 auto;
}

.settings-list-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template: ;
  row-gap: .5em;
  
  margin: .5em 1em;
  align-items: center;
}

.radio-container {
  grid-column: 2 /-1;
}

.settings-input {
  border: 1px #C2E7DA solid;
  border-radius: 4px;
  padding: .25em;
  margin: 0 1em;
  width: 4em;
}

.settings-list-heading {
  font-weight: 700;
  
}

.settings-list-item > p {
  /* text-align: center; */
}

.settings-list-propname {
  grid-column: 1 / -1;
  font-weight: 700;
  border-bottom: 1px solid black;
}



@media only screen and (min-width: 600px) {
  .App {
    height: 100vh;
    width: 100vw;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    

  }
  footer {
    grid-column: 1 / 4;
  }
  .card-container {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    height: calc(100vh - 3rem - 2em - 2em);
    width: unset;
    overflow: hidden;
  }

  .code-container {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    

  }
  .sliders {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .settings-list-item {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template: ;
    row-gap: .5em;
    
    margin: .5em 1em;
    align-items: center;
  }

  .button-container {
    flex-direction: row;
    justify-content: space-between;
  }

}